html{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #484848;
  background: linear-gradient(to bottom,#14d9c4,#0a9a8b);
}
body{
display: flex;
flex-direction: row;
justify-content: center;
}
.block{
  display: flex;
    justify-content: center;
    flex-direction: column;
    width: 330px;

    /* max-width: 600px; */
  /* max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  /*float: left;
    position: relative;
    left: 50%;*/
}
.header__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  background-color: white;
}
.header__logo{
  background-image: url('../images/logo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
  margin-top: 10px;
  margin-left: 10px;
}
.header__calendar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}
#daynumber{
  font-size: 70px;
  color: #0a9a8b;
}
.calendar__text{
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}
.weekday{
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 18px;
}

.calendar--month--year{
  display: flex;
flex-direction: row;
}
.header_line--separatedTop{
  background-color: #14d9c4;
  height: 2px;
  width: auto;
  border: 0px;
  margin: 0;
}
.main{
  display: flex;
    flex-direction: column;
  background-color: white;
}
.container__form{
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px 0 34px;
  border-radius: 3px;
  max-width: 264px;
  background-color: #0a9a8b;
  -webkit-box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.75);
}
.form__titleText{
  color: white;
  padding-left: 45px;

margin-bottom: 8px;
}

.container__input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.form__input{
  justify-content: center;
  background-color: #0a9a8b;
  border: 1px white solid;
  border-radius: 2px;
  color: white;

  height: 30px;
    width: 165px;
            padding-left: 10px;
            border-radius: 5px;
            /* (hex: &#x2714; / dec: &#10004;) */

}
::placeholder {
    color: white;
}
.container__btnAdd{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
}
.btnAdd{
  background-color: #0a9a8b;
  border: 2px white solid;
  border-radius: 22px;
  color: white;
  height: 29px;
    width: 100px;
    font-weight: bold;
}
.opacity{
  opacity: 0.2;
}
.li{
  list-style:none;
  text-decoration:none;
}
.container__task{
  cursor: default;
  background-color: white;
  padding-left: 20px;
      min-height: 280px;
          font-size: 22px;
}
.li__line--througth{
  text-decoration: line-through;
}
.btnMore{
  height: 40px;
    width: 40px;
    font-size: 32px;
    font-weight: bold;
  border-radius: 20px;
  color: #0a9a8b;
  border: 2px #14d9c4 solid;
  background-color: white;

}
.line--separatedBotton{
  background-color: #484848;
  height: 2px;
  width: auto;
  border: 0px;
  margin: 0;
  width: 100%;
}
.container__btnMore{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-bottom: 14px;
    padding-top: 5px;

}
