body{
  margin: 0;
  padding: 0;
  height: 100vh;
}
.header__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}
.header__logo{
  background-image: url('../images/logo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
}
.header__calendar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 11px;
}
#daynumber{
  font-size: 80px;
}
.calendar__text{
  display: flex;
  flex-direction: column;
}

.calendar--month--year{
  display: flex;
flex-direction: row;
}
.container__form{
  display: none;
}
.container__task--opacity{
  opacity: 0.2;
}
/* .check_line{
  text-decoration:line-through;
}
.li_2{
  color: red;
} */
